[package]
name = "edgli"
version = "1.0.0"
authors = ["HOPR Association <tech@hoprnet.org>"]
edition = "2024"
description = "Light client implementing the minimum HOPR protocol to serve as an entry node into the mixnet."
homepage = "https://hoprnet.org/"
repository = "https://github.com/hoprnet/edge-client"
license = "GPL-3.0-only"
build = "build.rs"

[features]
default = ["prometheus", "runtime-tokio"]
prometheus = ["hopr-lib/prometheus"]
runtime-tokio = ["dep:tokio", "hopr-lib/runtime-tokio"]
telemetry = [
  "dep:opentelemetry",
  "dep:opentelemetry-otlp",
  "dep:opentelemetry_sdk",
  "dep:tracing-opentelemetry",
]
# To use profiling:
# 1. Set RUSTFLAGS="--cfg tokio_unstable" before building
# 2. Enable the 'prof' feature: cargo build --feature prof
prof = [
  "dep:console-subscriber",
] # must be built with 'tokio_unstable': https://github.com/tokio-rs/console/tree/main/console-subscriber

[dependencies]
anyhow = "1.0.100"
async-signal = "0.2.12"
cfg-if = "1.0.4"
clap = { version = "4.5.51", features = ["derive", "env", "string"] }
console-subscriber = { version = "0.5.0", optional = true }
futures = "0.3.31"
signal-hook = "0.3.18"
serde_yaml = { version = "0.9.34-deprecated" }
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = [
  "rt-multi-thread",
  "macros",
  "tracing",
], optional = true }
tracing = { version = "0.1.41" }
tracing-subscriber = { version = "0.3.20", features = ["fmt", "json"] }
validator = { version = "0.20.0", features = ["derive"] }

opentelemetry = { version = "0.31.0", optional = true }
opentelemetry-otlp = { version = "0.31.0", default-features = false, features = [
  "trace",
  "reqwest-client",
  "tls-roots",
  "http-proto",
  "grpc-tonic",
], optional = true }
opentelemetry_sdk = { version = "0.31.0", optional = true }
tracing-opentelemetry = { version = "0.32.0", optional = true }

hopr-lib = { git = "https://github.com/hoprnet/hoprnet", rev = "f57f777c946d03dd36aaffff13d891e2aad141af", features = [
  "transport-use-quic",   # use quic transport, but do not announce it
  "session-client",
  "utils_session",
] }

# Target-specific dependencies for memory allocators
[target.'cfg(target_os = "linux")'.dependencies]
mimalloc = { version = "0.1.48", default-features = false, features = [ "secure" ]}

[dev-dependencies]

[build-dependencies]
vergen-gix = { version = "1.0.9", features = ["build"] }
anyhow = "1.0.100"
